<a href="https://colab.research.google.com/github/mbhutto2003/DS-A-Lab-/blob/main/Lab%2301-Data%20Types%20and%20Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Tasks#01

# Write two lines of code below, each assigning a value to a variable
# Now write a print statement using .format() to print out a sentence and the values of both of the variables

# Assign values to variables
variable1 = 42
variable2 = "Hello, world!"

# Print the sentence and the values of both variables
print("The value of variable1 is {} and the value of variable2 is {}.".format(variable1, variable2))

The value of variable1 is 42 and the value of variable2 is Hello, world!.

In [2]:
#Task#2

# Browse the complete list of string methods at: https://docs.python.org/3/library/stdtypes.html#string-methods and try them out here

text = "hello, world!"

# str.capitalize(): Returns a copy of the string with the first character capitalized and the rest lowercased.
print(text.capitalize())  # Output: "Hello, world!"

# str.upper(): Returns a copy of the string with all characters in uppercase.
print(text.upper())  # Output: "HELLO, WORLD!"

# str.lower(): Returns a copy of the string with all characters in lowercase.
print(text.lower())  # Output: "hello, world!"

# str.strip(): Returns a copy of the string with leading and trailing whitespace removed.
print(text.strip())  # Output: "hello, world!"

# str.startswith(prefix): Returns True if the string starts with the specified prefix, otherwise False.
print(text.startswith("Hello"))  # Output: True
print(text.startswith("World"))  # Output: False

Hello, world!
HELLO, WORLD!
hello, world!
hello, world!
False
False

In [4]:
#Task#03

# List IndexingUse list indexing to determine how many days are in a particular month based on the integer variablemonth, and store that value in the integer variablenum_days. For example, if monthis 8,num_days should be set to 31, since the eighth month, August, has 31 days.Remember to account for zero-based indexing!

# List to store the number of days in each month (index 0 will not be used)
days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Get the number of the month from the user
month = int(input("Enter the number of the month (1-12): "))

# Validate user input for month (between 1 and 12)
if 1 <= month <= 12:
    # Adjust month value for zero-based indexing
    adjusted_month = month - 1

    # Get the number of days for the given month
    num_days = days_in_month[adjusted_month]

    print(f"Number of days in month {month} is {num_days}.")
else:
    print("Invalid input. Please enter a number between 1 and 12.")

Enter the number of the month (1-12): 5
Number of days in month 5 is 30.

In [5]:
#Task#04

#Select the three most recent dates from this list using list slicing notation. Hint: negative indexes work in slices!

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# Select the three most recent dates using list slicing with negative indices
recent_dates = eclipse_dates[-3:]

# Print the three most recent dates
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [6]:
#Task#05

#Store studentâ€™s data using nested dictionary.

# Nested dictionary to store student data
students = {
    "john_doe": {
        "name": "John Doe",
        "age": 20,
        "gender": "Male",
        "major": "Computer Science",
        "grades": {
            "math": 85,
            "physics": 78,
            "history": 92
        }
    },
    "jane_smith": {
        "name": "Jane Smith",
        "age": 19,
        "gender": "Female",
        "major": "Biology",
        "grades": {
            "math": 90,
            "biology": 95,
            "chemistry": 88
        }
    },
    # Add more students here as needed
}

# Accessing and printing student data
student_id = "john_doe"
print("Student ID:", student_id)
print("Name:", students[student_id]["name"])
print("Age:", students[student_id]["age"])
print("Gender:", students[student_id]["gender"])
print("Major:", students[student_id]["major"])
print("Grades:")
for subject, grade in students[student_id]["grades"].items():
    print(f"{subject}: {grade}")

Student ID: john_doe
Name: John Doe
Age: 20
Gender: Male
Major: Computer Science
Grades:
math: 85
physics: 78
history: 92